In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('adsadsadsadsadsads'))
s

0     a
1     d
2     s
3     a
4     d
5     s
6     a
7     d
8     s
9     a
10    d
11    s
12    a
13    d
14    s
15    a
16    d
17    s
dtype: object

In [3]:
# Letras unicas
s.unique()

array(['a', 'd', 's'], dtype=object)

In [6]:
# Contador de repetição
s.value_counts()

a    6
d    6
s    6
dtype: int64

In [8]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [10]:
# Variáveis diferentes
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [13]:
# Conta as repetições das variáveis
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

## Desafio Alura:

In [14]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'