In [1]:
import pandas as pd

In [8]:
data = [0, 5, 6, None, 0.54, None, 0.34, 0.7, None, 0.6]
s = pd.Series(data)
s

0    0.00
1    5.00
2    6.00
3     NaN
4    0.54
5     NaN
6    0.34
7    0.70
8     NaN
9    0.60
dtype: float64

In [9]:
s.fillna(method = 'ffill') # Muito útil para série de tempo (method = ffill)

0    0.00
1    5.00
2    6.00
3    6.00
4    0.54
5    0.54
6    0.34
7    0.70
8    0.70
9    0.60
dtype: float64

In [10]:
s.fillna(method = 'bfill')

0    0.00
1    5.00
2    6.00
3    0.54
4    0.54
5    0.34
6    0.34
7    0.70
8    0.60
9    0.60
dtype: float64

In [11]:
s.fillna(s.mean())

0    0.000000
1    5.000000
2    6.000000
3    1.882857
4    0.540000
5    1.882857
6    0.340000
7    0.700000
8    1.882857
9    0.600000
dtype: float64

In [12]:
s

0    0.00
1    5.00
2    6.00
3     NaN
4    0.54
5     NaN
6    0.34
7    0.70
8     NaN
9    0.60
dtype: float64

In [13]:
s.fillna(method = 'ffill', limit = 1)

0    0.00
1    5.00
2    6.00
3    6.00
4    0.54
5    0.54
6    0.34
7    0.70
8    0.70
9    0.60
dtype: float64

In [15]:
s1 = pd.Series(data)
s1

0    0.00
1    5.00
2    6.00
3     NaN
4    0.54
5     NaN
6    0.34
7    0.70
8     NaN
9    0.60
dtype: float64

In [16]:
s1.fillna(method = 'bfill', limit = 1)

0    0.00
1    5.00
2    6.00
3    0.54
4    0.54
5    0.34
6    0.34
7    0.70
8    0.60
9    0.60
dtype: float64

## Desafio Alura

In [17]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [29]:
atletas.fillna(atletas["Melhor Tempo"].mean(), inplace = True)
atletas

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740