<a href="https://colab.research.google.com/github/luizevans/luizevans/blob/master/Pandas_Entrada_e_Saida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
nomes_f = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-f.json')
nomes_m = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-m.json')

In [8]:
# Sortear nomes femininos
nomes_f.sample(7)

        nome  regiao    freq  rank sexo
35     CARLA       0  325334    36    F
23   LARISSA       0  360523    24    F
137     NAIR       0  115715   138    F
183    IRACI       0   86816   184    F
15   LETICIA       0  434056    16    F
21      VERA       0  376202    22    F
115   TALITA       0  140494   116    F

In [9]:
# Sortear nomes masculinos
nomes_m.sample(7)

         nome  regiao    freq  rank sexo
181      YURI       0   73204   182    M
49       ALEX       0  309181    50    M
60   JEFERSON       0  252171    61    M
13     DANIEL       0  706527    14    M
113   VICENTE       0  125974   114    M
152    GERSON       0   86624   153    M
29      TIAGO       0  492149    30    M

In [10]:
# Contar a qntd de nomes masculinos e femininos
print(f'Quantidades de nomes {len(nomes_f) + len(nomes_m)}')

Quantidades de nomes 400

In [11]:
frames = [nomes_f, nomes_m]

In [13]:
frames

[          nome  regiao      freq  rank sexo
 0        MARIA       0  11694738     1    F
 1          ANA       0   3079729     2    F
 2    FRANCISCA       0    721637     3    F
 3      ANTONIA       0    588783     4    F
 4      ADRIANA       0    565621     5    F
 ..         ...     ...       ...   ...  ...
 195     ROSANE       0     82203   196    F
 196    IVONETE       0     81878   197    F
 197    LUCIANE       0     81230   198    F
 198    ISADORA       0     81100   199    F
 199      NILZA       0     80128   200    F

 [200 rows x 5 columns],           nome  regiao     freq  rank sexo
 0         JOSE       0  5732508     1    M
 1         JOAO       0  2971935     2    M
 2      ANTONIO       0  2567494     3    M
 3    FRANCISCO       0  1765197     4    M
 4       CARLOS       0  1483121     5    M
 ..         ...     ...      ...   ...  ...
 195     WALTER       0    67207   196    M
 196    ARLINDO       0    66669   197    M
 197    MICHAEL       0    65736   198    M
 198     ALVARO       0    65444   199    M
 199    GEOVANE       0    65435   200    M

 [200 rows x 5 columns]]

In [12]:
nomes = pd.concat(frames)['nome'].to_frame()
nomes.sample(5)

          nome
194      CLARA
193      KAUAN
60        SARA
171  TERESINHA
190   NATANAEL